<div *ngIf="userLoggedIn">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Taskify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-nav me-auto mb-2 mb-lg-0" id="navbarSupportedContent">
          <form class="d-flex logoutbtn">
            <button class="btn btn-outline-success" (click)="logout()" type="submit">Logout</button>
          </form>
        </div>
      </div>
    </nav>
</div>